<h1>The following page was added successfully.</h1>

<img width =150 src="<%= @new_picture.source %>">
<p><%= @new_picture.caption %></p>

<p>
  <a href="http://localhost:3000/all_pictures">View all pictures</a>
</p>
