<div class="row text-center">
  <h1>Picture Details</h1>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 well text-center">
    <p>
      <%= image_tag(@picture.source, width: 250) %>
    </p>
    <p>
      <%= @picture.caption %>
    </p>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="row text-center">
  <h3>
    <%= link_to "View all pictures", pictures_url %>
  </h3>
</div>
