<div class="row text-center">
  <h1>The following page was updated successfully.</h1>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 well text-center">
    <p>
      <img width =250 src="<%= @picture.source %>">
    </p>
    <p>
      <%= @picture.caption %>
    </p>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="row text-center">
  <h3>
    <a href="http://localhost:3000/all_pictures">View all pictures</a>
  </h3>
</div>
